## Test Secuencial

Este test se ejecuta en modo secuencial, utilizando un único hilo para simular el tráfico en una ciudad de tamaño 50x20 con 1000 agentes durante 10 pasos de simulación. El resultado muestra el tiempo de ejecución y el número de agentes que alcanzaron su destino.

### Resultados

Tiempo de ejecución:
![Texto alternativo](./images/test_sequential.png)
